ul {
  display: none;
  list-style-type: none;
  padding: 0;
}

ul.is-visible {
  display: block;
}
  
li.is-selected {
  background-color: #AAA;
}

input[type=text].is-invalid {
  border-color: red;
  border-style: solid;
  outline-color: red;
  
  transition: border-color .2s ease-out, outline-color .2s ease-out;
}