.autoprefixer__settings {

    &__direct {

        &__browsers,
        &__browser__versions {
            padding: 0;
            list-style-type: none;
        }

        &__browsers {
            display: flex;
            flex-direction: row;
        }

        &__browser {

        }
    }


    &__popularity {

        value-range::shadow input[type="number"] {
            width: 55px;
        }

    }

}